#form-container{
    padding: 50px 0px;


}

#the-form-itself{
    display: flex;
    flex-direction: column;
   max-width: 600px;
   margin: auto;
}
/* 
input {
    border-radius: 25px;
} */

/* textarea,
input {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
    width: 30rem;
} */