.contact-us {
  color: rgb(69, 161, 197);
  padding: 0px 0px 0px 5px;
}

#form-container {
  padding: 50px 0px;
  background:
      url('./pic.jpg')
      no-repeat
      center;
  background-size: cover;
  
}

#whiteText{
  color: rgb(255, 255, 255);
}

#the-form-itself {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: auto;
}

.button-design {
  background-color: #1890ff;
  width: 40%;
  margin: 15px auto;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

/* 
input {
    border-radius: 25px;
} */

/* textarea,
input {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
    width: 30rem;
} */
