.app-logo {
  width: 25%;
  margin: 0%;
  padding: 10px 0px 0px 5px;
}

.space-align-container {
  text-align: center;
}

.ant-image-img {
  width: max-content;
  margin: 25px auto;
}

.title {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(69, 161, 197);
  font-weight: 800;
  text-shadow: rgb(10, 50, 50);
}

.tagline {
  text-align: center;
  color: rgb(69, 161, 197);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 100;
  font-size: 22px;
  font-style: italic;
}

.login-form-button {
  margin-right: 10px;
}

.login-form-forgot {
  margin-left: 10px;
}
